{{log fav}}
{{#link-to "favorites.show-favorite" fav.fromTo class="modal-trigger"}}
<div class="card hoverable fav-thumb">

  <div class="fav-thumb-head">
    <div class="fav-thumb-duration">
      <span>{{fav.duration}}</span>
    </div>
    <div class="fav-thumb-modes">
      {{#each fav.route_parts as |mode|}}
        <i class="fa fa-{{route-mode mode.mode 'faIcon'}} fav-thumb-mode" aria-hidden="true"></i>
      {{/each}}
    </div>
  </div>{{!-- /fav-head --}}

  <div class="divider"></div>

  <div class="fav-thumb-body">

    <div class="fav-thumb-route">
      <div class="fav-from inline-block">
        <i class="fa fa-thumb-tack" aria-hidden="true"></i>
        <span>{{from-to fav.fromTo mode="from"}}</span>
      </div>
      <div class="fav-to inline-block">
        <i class="fa fa-flag-checkered" aria-hidden="true"></i>
        <span>{{from-to fav.fromTo mode='to'}}</span>
      </div>
    </div>

    <div class="fav-shedules-cont">
      <div class="fav-shedule inline-block">
        <div class="fav-thumb-departs inline-block">
          <p>Departs: </p>
          <span>{{fav.departure_time}}</span>
        </div>
        <div class="fav-thumb-arrives inline-block">
          <p>Arrives: </p>
          <span>{{fav.arrival_time}}</span>
        </div>
      </div>

      <div class="remove-fav inline-block">
        <p class="fa fa-trash remove-fav-icon hoverable" aria-hidden="true"></p>
      </div>

    </div>

  </div>

</div>{{!-- /fav-thumb --}}
{{/link-to}}
