{{!-- {{#link-to 'home.route-details' route.departure_time action="showDetails"}} --}}

{{!-- <div class="col s12 route-single card" {{action 'showDetails'}}> --}}
  <div class="route-head">
    <h5 class="start-route">Start: {{route.departure_time}}</h5>
    <h5 class="end-route">End: {{route.arrival_time}}</h5>
  </div>

  <div class="route-details hide">
    {{#each route.route_parts as |routePart|}}
    <div class="route-part">
      <span class="route-line">To: {{routePart.to_point_name}}</span>
      <span class="route-line">Mode: {{route-mode routePart.mode}}</span>
      <span class="route-line">Duration: {{routePart.duration}}</span>
      <span class="route-line">Departure time:{{routePart.departure_time}}</span>
      <span class="route-line">Arrival time: {{routePart.arrival_time}}</span>
      <span class="route-line">Tube name: {{routePart.line_name}}</span>
      <span class="route-line">Tube destination: {{routePart.destination}}</span>
    </div>
    {{/each}}

  </div>

{{!-- </div> --}}

{{!-- {{/link-to}} --}}


{{yield}}
