<div class="route-head col s12" {{action "showDetails" this}}>
  <div class="col s5">
    <p class="route-departs">Departs: {{route.departure_time}}</p>
    <p class="route-arrives">Arrives: {{route.arrival_time}}</p>
  </div>

  <div class="col s7 text-right">
    <p class="route-duration">
      <span>{{route-duration route.duration}}</span>
      <button class="fa fa-star set-favorite" aria-hidden="true" style="z-index: 100" {{action "addToFavorites" route}}></button>
    </p>
    <div class="route-modes">
      {{#each route.route_parts as |route|}}
        <i class="route-mode fa fa-{{route-mode route.mode 'faIcon'}}"></i>
      {{/each}}
    </div>
  </div>

</div>

<div class="route-details col s12">
  {{#each route.route_parts as |routePart|}}
  <div class="route-part">

    <div class="route-part-head col s12">
      <div class="route-part-thumb tooltipped" aria-hidden="true" data-position="top" data-tooltip="{{route-mode routePart.mode 'tooltip'}}">
        <i class="route-mode fa fa-{{route-mode routePart.mode 'faIcon'}}" aria-hidden="true"></i>
        <span class="route-line route-part-depart">{{routePart.departure_time}}</span>
      </div>
      <span class="route-part-from">{{routePart.from_point_name}}</span>
    </div>

    <div class="route-part-body col s12">
      <div class="col s10">
        {{route-instructions currentRoutePart=routePart}}
      </div>
      <div class="col s2 text-right">
        <p class="route-line">{{route-duration routePart.duration}}</p>
      </div>
    </div>

  </div>
  {{/each}}
</div>
