{{#if (compare currentRoutePart.mode 'foot') }}
  <div class="route-instructions walk-border">
    <p>
      <strong>Walk to </strong>
      <span>&nbsp;{{ currentRoutePart.to_point_name}}</span>
    </p>
  </div>
{{/if}}

{{#if (compare currentRoutePart.mode 'tube') }}
  <div class="route-instructions tube-border">
    <p>
      <span class="subway-name {{subway-color currentRoutePart.line_name}} inline-block">{{currentRoutePart.line_name}}</span>
      <strong>towards </strong>
      <span class="inline-block">{{currentRoutePart.destination}}</span>
    </p>
    <p><strong>Stop: </strong> {{ currentRoutePart.to_point_name}}</p>
  </div>
{{/if}}

{{#if (compare currentRoutePart.mode 'train') }}
<div class="route-instructions train-border">
  <p>
    <span class="inline-block">{{currentRoutePart.line_name}}&nbsp;</span>
    <strong>towards </strong>
    <span class="inline-block">{{currentRoutePart.destination}}</span>
  </p>
  <p><strong>Stop: </strong> {{ currentRoutePart.to_point_name}}</p>
</div>
{{/if}}

{{#if (compare currentRoutePart.mode 'bus') }}
<div class="route-instructions bus-border">
  <p>
    Take a bus <span class="bus-line">{{currentRoutePart.line_name}}</span><strong>towards </strong><span>{{currentRoutePart.destination}}</span>
  </p>
  <p><strong>Stop: </strong> {{ currentRoutePart.to_point_name}}</p>
</div>
{{/if}}
