<div class="route-head col s12" {{action "showDetails" this}}>
  <div class="col s12 m5">
    <p class="route-departs">Departs: {{route.departure_time}}</p>
    <p class="route-arrives">Arrives: {{route.arrival_time}}</p>
  </div>

  <div class="col s12 m7 text-right">
    <p class="route-duration">
      <i class="fa fa-hourglass-end" aria-hidden="true"></i>
      <span class="route-dur">{{route-duration route.duration}}</span>
      <i class="fa fa-star set-favorite" aria-hidden="true" {{action "addToFavorites" route bubbles=false }}></i>
    </p>
    <div class="route-modes">
      {{#each route.route_parts as |route|}}
        <i class="route-mode fa fa-{{route-mode route.mode 'faIcon'}}"></i>
      {{/each}}
    </div>
  </div>

</div>

<div class="route-details col s12">
  {{route-body route=route}}
</div>
