<div class="container">
  <div class="row">
    <form class="col s12 m10 offset-m1 l8 offset-l2 search-train-form card {{if formUp 'form-up'}}">

      <div class="card-image">
        <img src="images/railway-station.jpg">
        <span class="card-title">Where would You like to go?</span>
      </div>

      <div class="card-content">
        <div class="col s12">
          <div class="custom-input-cont col s12 m6">
            <label for="route-start" class="hide">From</label>
            <input placeholder="From" type="text" id="route-start" class="validate" value={{startRoute}} onfocus={{action "locationFrom" value="target"}}/>
          </div>
          <div class="col s12 m6">
            <label for="route-ends" class="hide">To</label>
            <input placeholder="To" type="text" id="route-ends" class="validate" value={{endRoute}} onfocus={{action "locationTo" value="target"}}/>
          </div>
        </div>

        <div class="col s12">
          <div class="col s8">
            <input type="text" id="route-date" placeholder="Date" class="validate" value={{routeDate}} onfocus={{action "dateSelected" value="target"}}/>
            <label for="route-date" class="hide">Date</label>
          </div>

          <div class="col s4">
            <input type="text" id="route-time" placeholder="Time" class="validate" value={{routeTime}} onfocus={{action "timeSelected" value="target"}}/>
            <label for="route-time" class="hide">Time</label>
          </div>

        </div>

        <div class="col s12 text-right sep-up">
            <button id="search-submit" class="btn waves-effect waves-light" type="button" name="submitSearch" {{action "fetchData"}} >Search
              <i class="material-icons left">search</i>
            </button>
        </div>

      </div>{{!-- /card-content  --}}

    </form>
  </div>{{!-- /row  --}}
</div>{{!-- /container --}}


<div class="container">
  <div class="row search-result-cont">
    <div class="col s12 m10 offset-m1">
      {{linear-loader isLoading=loaderOn}}
      <ul class="list-unstyled">
        {{#each model.routes as |route|}}
          {{route-single route=route fromTo=model.fromTo acknowledgements=model.acknowledgements}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>{{!-- /container  --}}
