<div class="container">
  <div class="row search-train-cont">
    <form class="col s12 m10 offset-m1 l8 offset-l2">
      <div class="col s12">
        {{!-- {{md-input placeholder="start" label='Journey begins' name="startRoute" value=startRoute class="col s12 m6 startRoute" focusIn="locationFrom"}} --}}
        {{!-- {{md-input placeholder="ends" label='Journey ends' name="endRoute" value=endRoute class="col s12 m6 endRoute" focusIn="locationTo" }} --}}

        <div class="input-field col s12 m6">
          <input placeholder="Start" type="text" id="route-start" class="validate" value={{startRoute}} onfocus={{action "locationFrom" value="target"}}/>
          <label for="route-start">Date</label>
        </div>
        <div class="input-field col s12 m6">
          <input placeholder="Ends" type="text" id="route-ends" class="validate" value={{endRoute}} onfocus={{action "locationTo" value="target"}}/>
          <label for="route-ends">Date</label>
        </div>
      </div>

      <div class="col s12">
        <div class="input-field col s8">
          <input type="text" id="route-date" class="validate" value={{routeDate}} onfocus={{action "dateSelected" value="target"}}/>
          <label for="route-date">Date</label>
        </div>

        <div class="input-field col s4">
          <input type="text" id="route-time" class="validate" value={{routeTime}} onfocus={{action "timeSelected" value="target"}}/>
          <label for="route-time">Time</label>
        </div>

        <button type="button" name="button" {{ action "test" }}>test</button>
      </div>


      <div class="col s12 text-right">
          <button class="btn waves-effect waves-light" type="submit" name="submitSearch" {{action "fetchData"}} >Search
            <i class="material-icons left">search</i>
          </button>
      </div>
    </form>
  </div>{{!-- /row  --}}

<div class="row">
  <ul class="col s6">
      {{#each model.routes as |route|}}
        {{route-single route=route}}
      {{/each}}
  </ul>

  <div class="col s6">
    {{outlet}}
  </div>
</div>



</div>{{!-- /container  --}}
