<div class="container">
  <div class="row">
    <form class="recents-form card col s12 m10 offset-m1 l8 offset-l2">

      <div class="loc-from-cont col s12 m6">
        {{input list="loc-from" placeholder="From" value=fromLocation}}
        <datalist id="loc-from">
          {{#each (uniq-list model 'from') as |item|}}
            <option value="{{item}}"></option>
          {{/each}}
        </datalist>
      </div>

      <div class="loc-from-cont col s12 m6">
        {{!-- <input type="text" value={{toLocation}} placeholder="To"> --}}
        {{input list="loc-to" placeholder="To" value=toLocation}}
        <datalist id="loc-to">
          {{#each (uniq-list model 'to') as |item|}}
            <option value="{{item}}"></option>
          {{/each}}
        </datalist>
      </div>

    </form>
  </div>{{!-- /row--}}

  <div class="row search-result-cont">
    <button type="button" {{action "test" "to"}}>click</button>
    {{!-- <div class="col s12 m10 offset-m1">
      {{linear-loader isLoading=loaderOn}}
      <ul>
        {{#each model.1.routes as |route|}}
          {{route-single route=route}}
        {{/each}}
      </ul>
    </div> --}}
  </div>{{!-- /row --}}

</div>{{!-- /container --}}


{{log model}}
