<div class="container">
  <div class="row no-margin">
    <h2 class="page-title text-center">Recently searched...</h2>
    <form class="recents-form card col s12 m10 offset-m1 l8 offset-l2">

      <div class="input-field col s12 m6">
        {{select-recent list=(uniq-list model 'from' fromLocationList) optionSelected="fromLocSelected"}}
      </div>

      <div class="input-field col s12 m6">
        {{select-recent list=(uniq-list model 'to' toLocationList) optionSelected="toLocSelected"}}
      </div>

    </form>
  </div>{{!-- /row--}}

  <div class="recent-loader row text-center">
    <div class="col s12">
      {{circle-loader isLoading=loadingRecent}}
    </div>
  </div>

  <div class="row select-result-cont {{if recentVisible 'cont-open'}}">
    <div class="col s12 m10 offset-m1">
      <ul class="list-unstyled">
        {{#each toDisplay.routes as |route|}}
          {{route-single route=route fromTo=toDisplay.fromTo acknowledgements=toDisplay.acknowledgements}}
        {{/each}}
      </ul>
    </div>
  </div>{{!-- /row --}}

</div>{{!-- /container --}}
