<div class="container trains-page">
 <div class="row">

   <div class="col s12 m8 l8 offset-m2 offset-l2 card-panel user-location grey lighten-4">
     <div class="input-field col s8">
       {{input type="text" id="trains-date-picker" placeholder="Date" class="validate" focus-in="trainsDatepicker" value=beatifyDatepickerValue}}
       <label for="trains-date-picker" class="hide">Date</label>
     </div>

     <div class="input-field col s4">
       {{input type="text" id="trains-time-picker" placeholder="Time" class="validate" focus-in="trainsTimePicker" value=beatifyTimepickerValue}}
       <label for="trains-time-picker" class="hide">Time</label>
     </div>

 </div>

{{log model}}
 <div class="row select-train">

   <div class="input-field col s12 m6 l5 offset-l1">
     <i class="material-icons prefix select-icon">directions_railway</i>
    <select class="departures-select station-select" onchange={{ action 'departureSelected' value="target.value"}}>
      <option value="0">Choose station</option>
      {{#each model.stations as |station|}}
        <option value="{{station.station_code}}">{{station.name}}</option>
      {{/each}}
    </select>
    <label>Departure</label>
  </div>

   <div class="input-field col s12 m6 l5">
     <i class="material-icons prefix select-icon">location_on</i>
    <select class="destinations-select station-select" onchange={{ action 'destinationSelected' value="target.value"}}>
      <option value="" selected>Choose station</option>
      {{#each (filter-destinations destinations 'destination_name') as |station|}}
        <option value="{{station.destination_name}}">{{station.destination_name}}</option>
      {{/each}}
    </select>
    <label>Destination</label>
  </div>
 </div>

{{#if timetable}}
 <div class="row">
   <div class="col s12">
      <div class="card-panel">
        <table class="striped">
        <thead>
          <tr>
              <th data-field="id">Train</th>
              <th data-field="name">Departure</th>
              <th data-field="price">Arrival</th>
          </tr>
        </thead>

        <tbody>
          {{#each timetable as |route|}}
          <tr>
            <td>{{route.train_uid}}</td>
            <td>{{route.aimed_departure_time}}</td>
            <td>{{route.station_detail.destination.aimed_arrival_time}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      </div>
    </div>
 </div>
 {{/if}}
</div>
