<div class="container trains-page">
  <div class="row">
    <div class="input-field col s12 m6 l5 offset-l1">
      <i class="material-icons prefix" aria-hidden="true">search</i>
      {{input type="text" id="autocomplete-input" class="autocomplete" value=searchLocation placeholder="Location"}}
      <label for="autocomplete-input">Enter your location</label>
    </div>
 </div>

{{log model}}
 <div class="row select-train">

   <div class="input-field col s12 m6 l5 offset-l1">
     <i class="material-icons prefix">location_on</i>
    <select class="departures-select station-select" onchange={{ action 'departureSelected' value="target.value"}}>
      <option value="0">Choose station</option>
      {{#each model.stations as |station|}}
        <option value="{{station.station_code}}">{{station.name}}</option>
      {{/each}}
    </select>
    <label>Departure</label>
  </div>

   <div class="input-field col s12 m6 l5">
     <i class="material-icons prefix">location_on</i>
    <select class="destinations-select station-select" onchange={{ action 'destinationSelected' value="target.value"}}>
      <option value="" selected>Choose station</option>
      {{#each (filter-destinations destinations 'destination_name') as |station|}}
        <option value="{{station.destination_name}}">{{station.destination_name}}</option>
      {{/each}}
    </select>
    <label>Destination</label>
  </div>
 </div>
          {{/each}}
        </select>
        <label>Destination</label>
      </div>

 </div>
</div>
